<nav class="main-nav">
  <img src="http://sitesforchurch.s3.amazonaws.com/logo.png" width="265" height="42">
  <ul class="main-menu">
    <li><a href="{{site.url}}">Overview</a></li>
    <li><a href="{{site.url}}/aboutus.html">About Us</a></li>
    <li><a href="{{site.url}}/blog-list.html">Blog</a></li>
  </ul>
  <ul class="action-menu">
    <li><a href="{{site.url}}/docs"><i class="fa fa-external-link"></i> Docs</a></li>
    <li><a href="{{site.url}}/signup.html" class="button hollow">Sign Up</a></li>
  </ul> 
  </nav>