<div class="templates">
        <h2>Awesome <s>Templates</s><br>Starting Points</h2>
        <h3>For Churches</h3>
        <div class="churches">
            <div class="single-template">
                <a href="#">
                <img src="http://placehold.it/267x227" alt="">
                </a>
                <h4>California</h4>
                <a href="#" class="button hollow" target="blank">View Demo</a>
            </div><!-- .single-template -->
            <div class="single-template">
                <a href="#">
                <img src="http://placehold.it/267x227" alt="">
                </a>
                <h4>New England</h4>
                <a href="#" class="button hollow" target="blank">View Demo</a>
            </div><!-- .single-template -->
            <div class="single-template">
                <a href="#">
                <img src="http://placehold.it/267x227" alt="">
                </a>
                <h4>Virginia</h4>
                <a href="http://virginia.pubstorm.site/" class="button hollow" target="blank">View Demo</a>
            </div><!-- .single-template -->
             <div class="single-template">
                <a href="#">
                <img src="http://placehold.it/267x227" alt="">
                </a>
                <h4>Native</h4>
                <a href="#" class="button hollow" target="blank">View Demo</a>
            </div><!-- .single-template -->
        </div><!-- churches -->
        <h3>For Pastors/Evangelists</h3>
        <div class="evangelists">
            <div class="single-template">
                <a href="#">
                <img src="http://placehold.it/267x227" alt="">
                </a>
                <h4>Evangelist</h4>
                <a href="#" class="button hollow" target="blank">View Demo</a>
            </div><!-- .single-template -->
        </div><!-- evangelists -->
        <h3>For Missionaries</h3>
        <div class="missionaries">
            <div class="single-template">
                <a href="#">
                <img src="http://placehold.it/267x227" alt="">
                </a>
                <h4>Go</h4>
                <a href="#" class="button hollow" target="blank">View Demo</a>
            </div><!-- .single-template -->
        </div><!-- missionaries -->
    </div><!-- templates -->