<div class="templates">
        <h2>Awesome <s>Templates</s><br>Starting Points</h2>
        <div class="churches">
            <div class="single-template">
                <a  href="http://california.pubstorm.site" target="blank">
                <img src="http://sitesforchurch.s3.amazonaws.com/california-2.gif" alt="">
                </a>
                <h4>California</h4>
                <div class="explanation">
                    <p>California was designed to showcase a lively modern church.  It's home page boldly features current sermon series, upcoming events, and ministries.</p>
                </div><!--/explanation-->
                <a href="http://california.pubstorm.site" class="button" target="blank">View Demo</a>
            </div><!-- .single-template -->
            <div class="single-template">
                <a href="http://new-england.pubstorm.site" target="blank">
                <img src="http://sitesforchurch.s3.amazonaws.com/new-england-3.gif" alt="">
                </a>
                <h4>New England</h4>
                <div class="explanation">
                    <p>New England is supposed to be traditional and understated.  It features a subdued look and an extremely awesome menu for mobile phones.</p>
                </div><!--/explanation-->
                <a href="http://new-england.pubstorm.site" class="button" target="blank">View Demo</a>
            </div><!-- .single-template -->
            <div class="single-template">
                <a href="http://adore-theme.pubstorm.site" target="blank">
                <img src="http://sitesforchurch.s3.amazonaws.com/adore.gif" alt="">
                </a>
                <h4>Adore</h4>
                <div class="explanation">
                    <p>Adore is a great modern theme for a growing church.  Our favorite unique feature of this theme is it's animated home page photo gallery.</p>
                </div><!--/explanation-->
                <a href="http://adore-theme.pubstorm.site" class="button" target="blank">View Demo</a>
            </div><!-- .single-template -->
             <div class="single-template">
                <a href="http://native.pubstorm.site" target="blank">
                <img src="http://sitesforchurch.s3.amazonaws.com/native.gif" alt="">
                </a>
                <h4>Native</h4>
                <div class="explanation">
                <p>Native is an extremely versitile theme that can be as cutting edge or traditional as you want it.  Check out the unique "about" menu.</p>
                </div><!--/explanation-->
                <a href="http://native.pubstorm.site" class="button" target="blank">View Demo</a>
            </div><!-- .single-template -->
        </div><!-- churches -->
        <div class="theme-explanation">
            <h3>Each of our templates feature...</h3>
            <ul>
                <li><i class="fa fa-check-square-o"></i><strong>Responsive designs</strong><br> They work great on mobile phones and tablets.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Ministry Sections</strong><br> Pages for each of your ministries complete with ministry leader info, ministry calendar and ministry photos.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Welcome pages</strong><br> Funnel would be first time visitors to pertanent info about your church.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Sermon &amp; Series Pages</strong><br> Display, Play and Organize Your Sermons.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Ministry Calendar</strong><br> Special pages to promote upcoming events.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Beliefs Page</strong><br> Display your statement of faith in an easy to digest way.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Church Leadership Page</strong><br> Let people know about your pastor, church staff and volunteer leaders.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Gospel Presentation</strong><br> Provide website visitors with the only message that makes dead men live.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Starting Points</strong><br> We provide you with real world examples you can tweak to your church.  No need to reinvent the wheel.</li>
                <li><i class="fa fa-check-square-o"></i><strong>Limitless Customization</strong><br> We can change fonts, colors, images to suit your church and add nearly any widgets you can think of.</li>

            </ul>
        </div><!--/theme-explanation-->
        
    </div><!-- templates -->