div.easy {
    background: $primary-color-dark;
    padding: 20px;
}

.easy__header {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    margin-bottom: 30px;

    h2 {
        color: $white;
        font-size: 50px;
        line-height: 50px;
        font-weight: bold;
    }

    p.getIt {
        font-size: 24px;
        font-style: italic;
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        color: darken($white, 10%);
    
    em {
        font-weight: bold;
    }
    }
}//end of easy header styles

.easy__content__image img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.easy__content__text {
    margin-bottom: 30px;

    @include breakpoint(small down){
        text-align: center;
        padding-left:30px;
        padding-right: 30px;
    }
    h3 {
        color: $white;
        font-weight: bold;
        font-size: 30px;
    }

    h3 span {
        text-decoration: underline;
    }
    a {
        color: lighten($secondary-color, 15%);
        font-weight: bold;
        text-decoration:   underline;
    }

    p {
        color: darken($white, 10%);
    }
    ul {
        text-align: left;
        padding-left: 40px;
        @include breakpoint(medium){
        padding-left: 100px;
        }
    }
    ul li {
        color: darken($white, 10%);
    }

} //end easy conent text

