div.hero {
    // background-image: url(http://sitesfor.church/img/hero.jpg);
    // background-size: cover;
    // background: lighten($secondary-color, 55%);
    background: lighten($light-gray, 25%);
}
div.hero div.row {
    margin-bottom: 0;
    padding-bottom: 0;
}

.hero__header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    text-align: center;
@include breakpoint(small down){
        order: 1;
    }
}

.hero__header h1 {
    color: $primary-color;
    font-size: 60px; 
    font-weight: bold;
    margin-bottom: 0;
    line-height: 80px;

span {
    color: $secondary-color;
    // text-transform: uppercase;
    font-size: 55px;  
}
}
.hero__header h3 {
    font-weight: normal;
    font-size: 35px;
    color: darken($secondary-color, 15%);
   
}
.hero__video {
    @include breakpoint(small down){
        order: 3;
    }

}
.hero__video  {
    display: block;
    background: url(http://sitesforchurch.s3.amazonaws.com/Computer_man.png) no-repeat bottom center;
    width: 339px;
    height: 400px;
    line-height: 406px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    padding-top: 37px;

    img {
        width: 446px;
        height: 252px;
    }
} 

.hero__signup {
    color: darken($secondary-color, 15%);
    font-size: 28px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    // background: fade-out($secondary-color, .40);
    @include breakpoint(medium down){
        padding-bottom: 20px;
        padding-top: 20px;
    }

    @include breakpoint(small down){
        order: 2;
        padding-bottom: 30px;
    }

    hr {
        color: $white;
        border: 1px solid darken($secondary-color, 15%); 
        width: 30%;
    }
    a.button.large {
        background-color: $primary-color;
        font-weight: bold;
    }
}
